body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.cd-header {
    position: relative;
    height: 180px;
    background-color: #331d35;
}

@media only screen and (min-width: 1170px) {
    .cd-header {
        height: 180px;
    }
}

.logo {
    width: auto;
    height: auto;
    float:left;
    padding:22.5px 0px 0px 10px;
}

.banner-1{
    float:right;
    padding:50px 40px;
    width:728px;
    height:90px;
}

@media screen and (max-width: 1100px)
{
    .logo {
        width: auto;
        height: auto;
        float: none;
        padding: 22.5px 0px 0px 0px; /*to make it exactly to the center*/
    }
    .banner-1 {
        display: none;
    }

    div.logo{
        margin: 0 auto;
        width: 250px;
    }
}

.btn-cook
{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background: orange;
    color: white;
    font-size: 18px;
    border: transparent;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    outline: none;
}

.btn-cook:hover {
    background: #ef6c00;;
}