<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 25px;">
    <h1 class="display-6 text-center" style="font-weight: bold; text-align:center; color: #dc3545 ;font-size: 45px ;margin-bottom: 50px; padding-top: 35px">Add Product</h1>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <form th:action="@{/cakes/add}" method="POST">
        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="productNameInput" class="form-label">ชื่อผลิตภัณฑ์</label>
                    <input id="productNameInput" type="text" class="form-control" name="productName">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="productOwnerInput" class="form-label">รหัสเจ้าของสินค้า</label>
                    <input id="productOwnerInput" type="text" class="form-control" name="poID">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>
        <div class="row mb-4">
<!--            <div class="col">-->
<!--                <div class="form-outline">-->
<!--                    <label for="nameInput" class="form-label" >เลขรหัสสินค้า</label>-->
<!--                    <input id="nameInput" type="text" class="form-control" name="pID"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
            <div class="col">
                <div class="form-outline">
                    <label for="productInput" class="form-label">ราคาสินค้า</label>
                    <input id="productInput" type="text" class="form-control" name="price">
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label for="weightInput" class="form-label">ประเภทสินค้า</label>
                    <input id="weightInput" type="text" class="form-control" name="productCategory">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="amountInput" class="form-label">คำอธิบายรายละเอียดสินค้า</label>
            <input id="amountInput" type="text" class="form-control" name="productDescription">
        </div>
        <div class="mb-3">
            <label for="priceInput" class="form-label">คุณสมบัติสินค้า</label>
            <input id="priceInput" type="text" class="form-control" name="productAttrib">
        </div>
        <div class="mb-3">
            <label for="productUseGuidelineInput" class="form-label">วิธีการใช้งาน</label>
            <input id="productUseGuidelineInput" type="text" class="form-control" name="productUsageGuideline">
        </div>
        <div class="mb-3">
            <label for="productIngredientsInput" class="form-label">ส่วนประกอบ</label>
            <input id="productIngredientsInput" type="text" class="form-control" name="productIngredients">
        </div>
        <div class="mb-3">
            <label for="productNutritionInput" class="form-label">สารอาหาร</label>
            <input id="productNutritionInput" type="text" class="form-control" name="productNutrition">
        </div>
        <div class="mb-3">
            <label for="productUseIndicationInput" class="form-label">ข้อบ่งใช้</label>
            <input id="productUseIndicationInput" type="text" class="form-control" name="productUseIndication">
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="productQuantityInput" class="form-label">จำนวณของผลิตภัณฑ์</label>
                    <input id="productQuantityInput" type="text" class="form-control" name="productQuantity">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="productSizeInput" class="form-label">ขนาดของผลิตภัณฑ์</label>
                    <input id="productSizeInput" type="text" class="form-control" name="productSize">
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="productVolumeInput" class="form-label">ปริมาตรสุทธิ</label>
                    <input id="productVolumeInput" type="text" class="form-control" name="productVolume">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="productWeightInput" class="form-label">น้ำหนักสุทธิ</label>
                    <input id="productWeightInput" type="text" class="form-control" name="productWeight">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="productPromotionInput" class="form-label">โปรโมชั่นของสินค้า</label>
            <input id="productPromotionInput" type="text" class="form-control" name="productPromotion">
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label for="productDiscountPercentIDInput" class="form-label">เปอร์เซ็นต์ส่วนลดสินค้า</label>
                    <input id="productDiscountPercentIDInput" type="text" class="form-control" name="productDiscountPercent"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label for="priceExcludingVatInput" class="form-label">ราคาก่อนรวมภาษี</label>
                    <input id="priceExcludingVatInput" type="text" class="form-control" name="priceExcludingVat">
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label for="pricePromotionInput" class="form-label">ราคาหลังโปรโมชั่น</label>
                    <input id="pricePromotionInput" type="text" class="form-control" name="pricePromotion">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="PCIDInput" class="form-label">เลขใบรับรองผลิตภัณฑ์</label>
                    <input id="PCIDInput" type="text" class="form-control" name="pcID">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="PRR_IDInput" class="form-label">เลขผลงานวิจัยที่รองรับผลิตภัณฑ์</label>
                    <input id="PRR_IDInput" type="text" class="form-control" name="prr_ID">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="PSVIDInput" class="form-label">Product story embedded video ID</label>
                    <input id="PSVIDInput" type="text" class="form-control" name="psvID">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="FTVIDInput" class="form-label">Food traceability embedded video ID</label>
                    <input id="FTVIDInput" type="text" class="form-control" name="ftvID">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="AIDInput" class="form-label">Audio ID</label>
                    <input id="AIDInput" type="text" class="form-control" name="aID">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="RREIDInput" class="form-label">เลขคะแนนและรีวิวของผลิตภัณฑ์</label>
                    <input id="RREIDInput" type="text" class="form-control" name="rreID">
                </div>
            </div>
        </div>

        <div class="text-center" style="margin-bottom: 15px">
            <button type="submit" class="btn btn-danger">Add Product</button>
        </div>

    </form>
</div>
</body>
</html>