<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>The Premium @KU Website</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
  body
  {
    /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
    background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color:white; margin-top:30px; padding-top: 30px; padding-bottom: 30px; padding-right: 30px; padding-left: 30px; border-radius:10px;">
  <!--  <h1 class="display-6">Cart</h1>-->

  <table class="table table-striped" style="text-align: center">
    <thead>
    <tr>
      <th>Product Picture</th>
<!--      <th>Product ID</th>-->
      <th>Product Name</th>
<!--      <th>Product Owner ID</th>-->
      <th>Product Volume</th>
      <th>Product Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cake : ${carts}">
      <td><img th:src=" ${'../../images/' + cake.getCakes.productName+ '.png'} " width="100">
      </img></td>
      <!--เพิ่มรหัสเจ้าของสินค้าด้วยฮับ-->
<!--      <td text="P0000001"></td>-->
      <td th:text="${cake.getCakes().productName}"></td>
      <!--เพิ่มรหัสเจ้าของสินค้าด้วยฮับ-->
<!--      <td text="T0000001"></td>-->
      <td th:text="${cake.getCakes().productVolume}"></td>
      <td th:text="${cake.getCakes().price}"></td>
      <td>
        <a th:href="@{/cart/remove/{id}(id=${cake.getCakes().pID})}">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
      </td>

    </tr>
    <!--    <h1 th:text="${'Total '+ priceCal +' Baht'}"></h1>-->
    <h4 class="col text-end" style="padding-left:0;" th:text="${price} + ' products'"></h4>
    </tbody>
    <h1 class="display-6" style="padding-bottom: 10px">Check the products that need to be sent to check the standards</h1>
  </table>
  <!--  <div class="d-flex justify-content-center">-->
  <!--    <a  class="btn btn-danger" th:href="@{/order/list}" type="submit">Payment</a>-->
  <!--  </div>-->
  <!--  <a th:href="@{/order/address}"><button class="btn">CHECKOUT</button></a>-->
  <div class="d-flex justify-content-center">
    <a  class="btn btn-danger" th:href="@{/order/address}" type="submit">Next</a>
  </div>
  <div>
    <a class="btn btn-danger" th:href="@{/products}">Back to product page</a>
  </div>
</div>
</body>
</html>