<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 25px;">
    <h1 class="display-6 text-center" style="font-weight: bold; text-align:center; color: #dc3545 ;font-size: 45px ;margin-bottom: 50px; padding-top: 35px">Certificate Add</h1>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <form th:action="@{/certificate/add}" method="POST">

        <div class="mb-3">
            <label for="productNameInput" class="form-label">ชื่อผลิตภัณฑ์</label>
            <input id="productNameInput" type="text" class="form-control" name="productName">
        </div>

        <div class="mb-3">
            <label for="productOwnerInput" class="form-label">ชื่อใบรับรองผลิตภัณฑ์ หรือมาตรฐานผลิตภัณฑ์</label>
            <input id="productOwnerInput" type="text" class="form-control" name="prodCertificateName">
        </div>

        <div class="row mb-4" style="margin-top: 10px">
            <div class="col" style="margin-left: 435px">
                <div class="text-center">
                    <button type="submit" class="btn btn-danger" style="margin-bottom: -35px">Add Certificate</button>
                </div>
            </div>

            <div class="col text-end">
                <div class="mb-3">
                    <a class="btn btn-danger" style="margin-right: 35px; margin-bottom: -35px" th:href="@{/certificate/list}">Back</a>
                </div>
            </div>
        </div>



    </form>
</div>
</body>
</html>