<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/myStyle.css}">
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background: url('https://cdn.discordapp.com/attachments/800934715573010436/1039543504218624110/3_2X.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-1"></div>-->

<!--        <div class="col-lg-10" style="padding-top: 4%;align-items:center;">-->
<!--            <div class="container d-flex align-items-center justify-content-center" style="background-color:white; border-radius:25px;height:800px;margin-left:40px;margin-right:40px;">-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.9069062783406!2d100.56965621462226!3d13.844626290287467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ce0f9dc88cd%3A0x632e76e061542acc!2z4LiE4LiT4Liw4Lin4Li04LiX4Lii4Liy4Lio4Liy4Liq4LiV4Lij4LmMIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC5gOC4geC4qeC4leC4o-C4qOC4suC4quC4leC4o-C5jA!5e0!3m2!1sth!2sth!4v1667540289786!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--        <div class="col-lg-1"></div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>